<h1>Product</h1>
<hr />
<table class="table">
  <tbody>
    <tr>
      <td>Name</td>
      <td id="product--<%= @product.id %>_name">
        <%= @product.name %>
      </td>
    </tr>
    <tr>
      <td>SKU</td>
      <td id="product--<%= @product.id %>_sku">
        <%= @product.sku %>
      </td>
    </tr>
  </tbody>
</table>
